body{
    font-family: Arial;
    background: linear-gradient(to bottom right, #6EE7B7, #93C5FD);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:380px;
    background:white;
    padding:25px;
    border-radius:18px;
    text-align:center;
    box-shadow:0px 20px 40px rgba(0,0,0,0.2);
}

input{
    width:90%;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ddd;
}

.voteBtn{
    width:90%;
    padding:10px;
    margin-top:10px;
    border-radius:20px;
    border:none;
    background:#eeeeee;
    cursor:pointer;
    font-weight:bold;
}

.voteBtn:hover{
    background:#d4d4d4;
}

#resultBtn{
    width:90%;
    padding:10px;
    margin-top:15px;
    border-radius:20px;
    border:none;
    background:#333;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

#message{
    margin-top:10px;
    color:red;
    font-weight:bold;
}

#finalResult{
    margin-top:15px;
    font-weight:bold;
}